@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-gray: #333333;
  --text: #373f46;
  --alibaba-orange: #FFC831;
  --light-gray: #f7fffe;
  --dashboardColor:#FFFFFF;
  --darkMode:#161c24;
  --darkText:#919eab;
  --cardBackground:"#919EAB26";
  --mainColor:"#E5E7EB";
  --viewCoverColor:#C1C0E514,
}

/* Background */
body {
  background-color: var(--light-gray);
}

/* Header & Footer */
header, footer {
  background-color: var(--dark-gray);
  color: var(--white);
}

/* Buttons */
button {
  background-color: var(--alibaba-orange);
  color: var(--white);
}

button:hover {
  background-color: var(--dark-gray);
  color: var(--alibaba-orange); /* Fixed here */
}


.nav{
  z-index: 1000;
}
@media (max-width: 768px) {
.nav {
  flex-direction: column;
}
.select-div{
  width: 20%;
  margin-left: 0px;
}
.search-container {
  margin-left: 0px;
  width: 90%;
  margin-top: 6px;
}
.search{
  width: 100%;
}
.search-div{
  width: 70%;
}
.search-icon-div{
  width: 10%;
}
.flag{
  display: none;
}
.prod{
  top: 220px;
  right: 77%;
}
.profile{
  width: 40%;
  height: 100px;
  display: flex;
  flex-direction: column;
}
.cart{
  margin-left: 0px;
}

}

