
  @media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  .select-div{
    width: 20%;
    margin-left: 0px;
  }
  .search-container {
    margin-left: 0px;
    width: 90%;
    margin-top: 6px;
  }
  .search{
    width: 100%;
  }
  .search-div{
    width: 70%;
  }
  .search-icon-div{
    width: 10%;
  }
  .flag{
    display: none;
  }
  .prod{
    top: 220px;
    right: 77%;
  }
  .profile{
    width: 40%;
    height: 100px;
    display: flex;
    flex-direction: column;
  }
  .cart{
    margin-left: 0px;
  }
  
  }
  
  